/**
 * 样式重置，将不会被打包进代码包
 */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  height: 100%;
  width: 100%;
}
